.card {
  border-radius: 2px;
  height: 220px;
  margin: 16px;
  position: relative;
  width: 325px;
}

.img-container {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%
}

.content {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
}